$font-family-body: -apple-system, sans-serif !default;

$base-animation-speed: 0.3s !default;
$base-spacing-size: 1rem !default;
$base-spacing-size-text: 0.5rem !default;
$favicon-size: 24px !default;
$logo-size: 24px !default;
$icon-border-radius: 99rem !default;

$spinner-size: 4rem !default;
$spinner-border-color: var(--border-color) !default;
$spinner-border-size: 1rem !default;
