$font-family-document: -apple-system, sans-serif;

$base-animation-speed: 0.3s;
$base-spacing-size: 1em;
$base-spacing-size-text: 0.5em;
$favicon-size: 24px;
$logo-size: 24px;
$icon-border-radius: 99em;

$spinner-size: 4em;
$spinner-border-color: rgba(#ccc, 0.9);
$spinner-border-size: 1em;
