@import "../fonts/style.css";

$font-size-title: 1.125rem; /* 18px / 16px */
$font-size-excerpt: 0.875rem; /* 14px / 16px */
$font-size-description-single: 0.75rem; /* 12px / 16px */
$font-size-meta: 0.75rem; /* 12px / 16px */
$font-size-overlay-title: 1rem; /* 16px / 16px */
$font-size-overlay-links: 1rem; /* 16px / 16px */
$font-size-item-count: 1rem; /* 12px / 16px */
