html {
	font-family: $font-family-body;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	overflow-x: hidden; // avoid vertical scrollbars
}

body {
	background-attachment: fixed;
	background-image: url("../images/world.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: var(--bg);
	color: var(--color);
}
