// our default color-scheme is dark
:root {
	--color: #{$color--dark} !default;
	--bg: #{$bg--dark} !default;

	// your color-scheme
	--brand-color: #{$brand-color--dark} !default;
	--light: #{$light--dark} !default;
	--dark: #{$dark--dark} !default;
	--neutral: #{$neutral--dark} !default;
	--border-color: #{$border-color--dark} !default;
	--backdrop-bg: #{$backdrop-bg--dark} !default;
	--selection-bg: #{$selection-bg--dark} !default;
}

@media (prefers-color-scheme: light) {
	:root {
		--color: #{$color} !default;
		--bg: #{$bg} !default;

		// your color-scheme
		--brand-color: #{$brand-color} !default;
		--light: #{$light} !default;
		--dark: #{$dark} !default;
		--neutral: #{$neutral} !default;
		--border-color: #{$border-color} !default;
		--backdrop-bg: #{$backdrop-bg} !default;
		--selection-bg: #{$selection-bg} !default;
	}
}
