// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.application-message {
	border-bottom: 1px solid var(--border-color);
	display: block;
	padding: var(--spacing-default);
	text-align: center;

	a {
		color: var(--color-light);
		text-decoration: underline;
	}
}
