// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.application-reload {
	padding: var(--spacing-default);
	float: right;
	color: var(--color);
	font-size: 1rem;
}
