.application-message {
	border-bottom: 1px solid var(--border-color);
	display: block;
	padding: $base-spacing-size;
	text-align: center;

	a {
		color: var(--color-light);
		text-decoration: underline;
	}
}
