// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.application-header {
	@include basic-grid;
	background-color: var(--bg);
	color: var(--color);
	box-shadow: var(--drop-shadow);

	grid-template-columns: calc(var(--avatar-size) * 2) auto calc(
			var(--avatar-size) * 2
		); // Magic number
	top: 0;
	width: 100%;
	z-index: 2;
	position: fixed;

	button {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: calc(var(--spacing-default) * 0.75) 0;
	}
}

.application-header__logo {
	display: flex;
	justify-content: center;

	img {
		height: var(--avatar-size);
		width: var(--avatar-size);
	}
}
