.application-loading {
	background-color: var(--bg);
	border-width: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	// place it above all elements
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	transition: opacity $base-animation-speed;
	z-index: 99;
}

.application-loading__spinner {
	// use pseudo-element so we can position the spinner without affectiong the animation
	&:before {
		animation: rotation 0.4s infinite linear;
		border: $spinner-border-size solid $spinner-border-color;
		border-top-color: transparent;
		border-right-color: transparent;
		border-radius: 99em;
		content: "";
		display: block;
		height: $spinner-size;
		width: $spinner-size;
	}
}
