// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.application-reload {
	padding: $base-spacing-size;
	float: right;
	color: currentColor;
	font-size: 1rem;
}
