// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.badge {
	border-radius: 99em;
	padding: 0.313rem;
	text-align: center;
	line-height: 1;
}

.badge--unread-items {
	background-color: var(--bg--inverted);
	color: var(--color--inverted);
	font-size: var(--h2);
	margin-top: calc(var(--spacing-default) / 2);
	min-width: 30px;
	position: fixed;
	right: calc(var(--spacing-default) / 2);
	top: 60px;
	font-weight: bold;
}
