.feed-items {
	background-color: var(--bg);
	color: var(--color);
}

.feed-items__item {
	@include basic-grid;
	background-color: var(--bg);
	border-bottom: 1px solid var(--border-color);
	grid-template-columns: $favicon-size auto;
	padding: $base-spacing-size;
	position: relative;

	a {
		text-decoration: none;
	}
}

.feed-items__icon {
	border-radius: $icon-border-radius;
	display: inline-block;
	height: $favicon-size;
	margin-top: 3px;
	width: $favicon-size;

	// avoid showing alt-text if icon is not loaded
	overflow: hidden;
	background-clip: padding-box;
}

.feed-items__title {
	display: inline-block;
	font-size: $font-size-title;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: $base-spacing-size-text / 2;
}

.feed-items__meta {
	color: var(--color-light);
	font-size: $font-size-meta;
	margin: 0;

	a {
		color: inherit !important;
	}
}

.feed-items__source {
	color: inherit;
	text-decoration: underline;

	// highlight unread items
	&:after {
		content: "●";
		margin-left: $base-spacing-size / 2;
		color: currentColor;
		opacity: 1;
		transition: all 1s ease;
		transition-delay: 3s;
	}
}

// remove highlight of items in view
.feed-items__item--read {
	.feed-items__source:after {
		opacity: 0;
	}
}

.feed-items__description {
	font-size: $font-size-description-single;
	margin-top: $base-spacing-size-text;

	@include tablet-landscape-up {
		font-size: $font-size-excerpt;
	}
}
