// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.overlay {
	position: relative;
	z-index: 1;
}

.overlay-backdrop {
	backdrop-filter: blur(1px);
	background-color: var(--bg);
	bottom: 0;
	left: 0;
	opacity: 0.7;
	position: fixed;
	top: 0;
	right: 0;
}

.overlay__header {
	@include basic-grid;
	border-bottom: 1px solid var(--border-color);
	grid-template-columns: auto auto;
	padding-bottom: var(--spacing-default);
}

.overlay__headeritem {
	display: flex;
	align-items: center;
}

.overlay__theme {
	font-size: 11px;
	justify-content: flex-end;
}

.overlay__themeswitch {
	min-width: 40px;
	padding: var(--spacing-default) / 2;
}

.overlay-content {
	background-color: var(--bg);
	border: 1px solid var(--border-color);
	box-shadow: var(--drop-shadow);
	color: var(--color);
	left: var(--spacing-default);
	margin-top: 65px;
	max-height: 80%; // leave some space to the bottom (even in landscape-mode)
	max-width: 480px;
	overflow-y: auto;
	padding: var(--spacing-default);
	position: fixed;
	top: calc(var(--spacing-default) / 2);
	transition: transform calc(var(--animation-speed-default) / 2);
	right: var(--spacing-default);
	z-index: 2; // place between header and content
}

.overlay__title {
	font-size: var(--h2);
	font-weight: 600;
	margin: 0;
}
