// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

.timeline {
	background-color: var(--bg);
	color: var(--color);
}

.timeline__item {
	@include basic-grid;
	background-color: var(--bg);
	border-bottom: 1px solid var(--border-color);
	grid-template-columns: var(--avatar-size) auto;
	padding: var(--spacing-default);
	position: relative;

	a {
		text-decoration: none;
	}
}

.timeline__icon {
	border-radius: var(--avatar-border-radius);
	display: inline-block;
	height: var(--avatar-size);
	margin-top: 3px;
	width: var(--avatar-size);

	// avoid showing alt-text if icon is not loaded
	overflow: hidden;
	background-clip: padding-box;
}

.timeline__content {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

.timeline__header,
.timeline__description {
	flex: 1 1 480px;
}

.timeline__header {
	@include tablet-landscape-up {
		padding-right: var(--spacing-default);
	}

	margin-bottom: calc(var(--spacing-default) / 2);
}

.timeline__title {
	display: inline-block;
	font-size: var(--h1);
	font-weight: 600;
	margin-top: 0;
	margin-bottom: calc(var(--spacing-default) / 2);
}

.timeline__meta {
	color: var(--color-light);
	font-size: var(--h4);
	display: block;

	a {
		color: inherit !important;
	}
}

.timeline__source {
	color: inherit;
	text-decoration: underline;

	// highlight unread items
	&:after {
		content: "●";
		margin-left: calc(var(--spacing-default) / 2);
		color: currentColor;
		opacity: 1;
		transition: all 1s ease;
		transition-delay: 3s;
	}
}

// remove highlight of items in view
.timeline__item--read {
	.timeline__source:after {
		opacity: 0;
	}
}

.timeline__description {
	font-size: var(--h4);
	margin: 0;
}
