// ###### switches #####

// ###### Settings #####

//---------------------
// ###### Layout ######
//---------------------

a {
	color: var(--color);

	&:hover,
	&:active {
		color: var(--link-active-color);
	}

	&:visited {
		color: var(--link-visited-color);
	}
}
