// ###### switches #####

// ###### Settings #####
$main-margin-top: var(--header-size) !default;

//---------------------
// ###### Layout ######
//---------------------

main {
	margin-top: $main-margin-top;
	position: relative; // we need position relative, to allow indenting content, when the page is fixed
	width: 100%;
}
