// ----- Setup -----
$font-family-document: -apple-system, sans-serif;

$base-animation-speed: .7s;
$base-spacing-size: 1em;
$base-spacing-size-text: .5em;
$favicon-size: 16px;
$logo-size: 24px;
$icon-border-radius: 3px;

// font-sizes
$font-size-title: 1.125em;	/* 18px / 16px */
$font-size-excerpt: .875em;	/* 14px / 16px */
$font-size-info: .75em;		/* 12px / 16px */

// Theme-Colors
// light
$body-background-color: #fff;
$base-color: #333;
$base-color-info: #aaa;
$base-shadow: 0 2px 2px rgba(0,0,0,0.2);
$header-background-color: $body-background-color;
$base-link-color: $base-color;
$base-link-active-color: darken($base-link-color, 50%);
$base-link-visited-color: lighten($base-link-color, 50%);
$base-border: 1px solid lighten($base-color, 30%);
$overlay-background-color: $body-background-color;
$overlay-color: $base-color;

// dark
$body-background-color-dark: #272e35;
$base-color-dark: #cad4e0;
$base-color-info-dark: #a8c9ed;
$base-shadow-dark: 0 2px 2px rgba(255,255,255,0.2);
$header-background-color-dark: $body-background-color-dark;
$base-link-color-dark: $base-color-dark;
$base-link-active-color-dark: darken($base-link-color-dark, 20%);
$base-link-visited-color-dark: darken($base-link-color-dark, 20%);
$base-border-dark: 1px solid lighten($body-background-color-dark, 10%);
$overlay-background-color-dark: $body-background-color-dark;
$overlay-color-dark: $base-color-dark;


// ---- Font-Smoothing
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// ---- sticky-Element
.sticky { position: fixed; }

// ---- basic-grid
main li,
#application-head {
	display: grid;
	grid-column-gap: $base-spacing-size / 2;
}

main li {
	grid-template-columns: $favicon-size auto;
	padding: $base-spacing-size;
}
#application-head {
	grid-template-columns: $favicon-size * 3 auto $favicon-size * 3 ;
	// increase size clickable of elements
	a,
	label {	padding: $base-spacing-size; }
}

// ---- theme-switcher
#theme-switcher {
	&:not(:checked) + label .icon-moon { display: none; }
	&:checked + label .icon-sun { display: none; }
}

// ----- Body -----
body { font-family: $font-family-document; }


// ---- header ----
header {
	top: 0;
	width: 100%;
	z-index: 2;
	div:nth-of-type(2) { position: relative; }	// allow larger logo to center
	img {
		@include align-centered;
		height: $logo-size;
		width: $logo-size;
	}
	a {
		display: inline-block;
		text-decoration: none;
	}
	label {
		cursor: pointer;		// simulate link-behavior
		float: right;
	}
}

// ---- Content ----
main {
	a {
		&:not(.source) { text-decoration: none; }
		&:hover,
		&:active { text-decoration: underline; }
	}

	p {
		margin-top: $base-spacing-size-text;
		&:last-of-type { margin-bottom: 0; }
	}

	.icon {
		background-clip: padding-box;
		border-radius: $icon-border-radius;
		display: inline-block;
		height: $favicon-size;
		margin-top: 3px;
		width: $favicon-size;
		img { border-radius: $icon-border-radius; }
	}

	.title {
		display: inline-block;
		font-size: $font-size-title;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: $base-spacing-size-text / 2;
	}

	.excerpt { font-size: $font-size-excerpt; }

	.info {
		font-size: $font-size-info;
		margin: 0;
		a { color: inherit !important; }
	}

	.source { color: inherit; }
}

// ---- overlay ----
#application-overlay {
	max-height: 50%;
	min-height: 300px;
	overflow-y: auto;
	padding: $base-spacing-size;
	position: fixed;
	margin-top: $base-spacing-size;
	left: $base-spacing-size;
	right: $base-spacing-size;
	// top is set via js
	transition: all, $base-animation-speed;
	z-index: 1;		// place between header and content

	h2 {
		font-size: $font-size-title;
		font-weight: 600;
		margin: 0;
		padding-bottom: $base-spacing-size;
		text-align: center;
	}

	ul { @include ul-reset;}

	a {
		display: block;
		padding: $base-spacing-size 0;
		text-decoration: none;
	}
}

// hide/show overlay
#application-overlay.js-hidden {
	right: 100%;
	left: -100%;
}
#application-overlay:not(.js-hidden) {
	left: $base-spacing-size;
	right: $base-spacing-size;
}

// ---- Footer ----
footer {

}

// ---- Responsive ----
// Mobile view
@include phone-only {

}

// Tablet portrait
@include tablet-portrait {

}

// Tablet portrait
@include tablet-landscape-up {

}

// Default View
@include default {

}

// ---- themes
// theme-transition
body,
#application-head,
.overlay { transition: color, background-color, border-color, $base-animation-speed; }

// Light
body.light {
	background-color: $body-background-color;
	color: $base-color;
	header {
		background-color: $header-background-color;
		box-shadow: $base-shadow;
		a { color: $base-link-color; }
	}
	main a {
		color: $base-link-color;
		&:hover,
		&:active { color: $base-link-active-color !important; }
		&:visited { color: $base-link-visited-color; }
	}
	li { border-bottom: $base-border; }
	.icon { background-color: transparent; }
	.info { color: $base-color-info; }
	.source:hover { color: $base-link-active-color !important; }
	.overlay {
		background-color: $overlay-background-color;
		border: $base-border;
		color: $overlay-color;
		h2 { border-bottom: $base-border; }
		a {
			color: $base-link-color;
			&:hover,
			&:active { color: $base-link-active-color; }
		}
	}
}

// Dark
body.dark {
	background-color: $body-background-color-dark;
	color: $base-color-dark;
	header {
		background-color: $header-background-color-dark;
		border-bottom: $base-border-dark;
		a { color: $base-link-color-dark; }
	}
	main a {
		color: $base-link-color-dark;
		&:hover,
		&:active { color: $base-link-active-color-dark !important; }
		&:visited { color: $base-link-visited-color-dark; }
	}
	li { border-bottom: $base-border-dark; }
	main .icon { opacity: .5; }
	.icon { background-color: $base-color-dark; }
	.info { color: $base-color-info-dark; }
	.source:hover { color: $base-link-active-color-dark !important; }
	.overlay {
		background-color: $overlay-background-color-dark;
		border: $base-border-dark;
		color: $overlay-color-dark;
		h2 { border-bottom: $base-border-dark; }

		a {
			color: $base-link-color-dark;
			&:hover,
			&:active { color: $base-link-active-color-dark; }
		}
	}
}
